form(action='/create', method='POST')  
    div 
        input(type='text', name='url', id='url', value='https://filmix.my/uploads/frames/87979/f121915-korporaciya-monstrov-chas-2001_original.jpg')
    div
        button(type='submit') Send
    