extends template.pug

block content
    .container.mt-4
        .row
            .col-12
                h1.text-center.mb-4=info.title
                ul
                    li
                        a(href="/category/phones") Phones
                    li
                        a(href="/category/laptops") Laptops
    