extends layout 

block content 
    h1=message 

    if error
        p(style='color: red;')= error 
    form(action='/register' method='POST')
        div 
            label(for='username') Username
            input(type='text' id='username' name='username' required)
        div 
            label(for='password') Password
            input(type='text' id='password' name='password' required)
        div 
            label(for='email') Email
            input(type='text' id='email' name='email' required)
        
        button(type='submit') Register
